body {
  font-family: 'Roboto', sans-serif;
}

/* typo */
h1 {
  font-size: 58px;
  font-weight: bold;
  line-height: 120%;
}

p {
  color: #212529;
  font-weight: 400;
  font-size: 20px;
}
/* /typo */
/* mix */
.list-inline {
  margin-bottom: 0;
}
/* /mix */
/* buttons */
.btn_primary:hover {
  color: #fff;
}

.btn_primary {
  background-color: #fff;
  color:  #006aff;
  border-color:  #006aff;
  font-weight: 600;
  padding: 8px 20px;
}

.btn_primary:hover {
  color:  #006aff;
}

.btn_mobile {
  background-color: transparent;
}
/* /buttons */
/* nav */
.hedear_top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 65px;
  line-height: 65px;
  background-color: #fff;
}

.logo {
  height: 100%;
  display: inline-block;
}

.logo img {
  height: 28px;
}

.main-nav, .secondary-nav {
  display: inline-block;
}

.main-nav li {
  margin-left: 10px;
}

.main-nav  li a, .secondary-nav li a {
  font-size: 12px;
  color: #006;
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav li a:hover, .secondary-nav li a:hover {
  text-decoration: none;
}
/* /nav */
/* Hero */
.hero {
  margin-top: 65px;
  background-image: url(../img/bg-hero.svg);
  background-size: cover;
  color: #fff;
  padding: 60px 0;
}

.hero_title p {
  opacity: 0.8;
}

.hero p {
  font-size: 24px;
  line-height: 150%;
  color: #fff;
}



.box-hero {
  background-color: #fff;
  color: #006;
  border-radius: 10px;
  padding: 10px;
}

.box-hero p {
  color: #5b6987;
  font-size: 16px;
}

.btn_blue {
  border-radius: 5px;
  border: 1px solid #006aff;
  background-color: #006aff;
  opacity: 0.8;
  color: #fff;
  padding: 5px 0;
  box-shadow: 1px 1px lightgrey;
  margin-bottom: 10px;

}

.box-hero h2 h3 {
  font-weight: bold;
}

.box-hero h3 {
  color: #006aff;
}

.btn_white {
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #006;
  opacity: 0.8;
  padding: 5px 0;
  box-shadow: 1px 1px lightgrey;
  margin-bottom: 20px;
  position: relative;
}

.btn_white img {
  width: 18px;
  position: absolute;
  left: 10px;
}
/* /Hero */
/* main */
/* sponsor */
#sponsor {
  background-color: #f3f5f9;
  padding: 30px 0;
}

#sponsor h5 {
  text-align: uppercase;
  color: #031b4e;
  margin-bottom: 30px;
}

#sponsor p {
  color: #0069ff;
  font-size: 15px;
  margin-top: 20px;
}
/* /sponsor */
/* main_top */
.main_header {
  padding: 60px 0;
}
.main_top h2 {
  color: #031b4e;
}
.main_top p {
  color: #5b6987;
  font-size: 20px;
  line-height: 150%;
}

.configuration nav ul {
  list-style-type: none;
}

.configuration li button {
  background-color: transparent;
  border: none;
  border-left: 1px solid #dbdbdb;
  padding: 15px 20px;
  color: #363636;
}

.configuration li button:hover {
  border-left: 1px solid rgba(3, 27, 78, 1);
}

.details {
  height: 220px;
}

.details h5 {
  color: #031b4e;
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  margin-top: 25px;
  margin-bottom: 10px;
}
.details p {
  color: #5b6987;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 20px;
}
/* /main_top */
/* /main */
@media screen and (max-width:1200) {

}
